body {
  margin: 0;
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

.auth-container {
  width: 350px;
  margin: 70px auto;
  padding: 25px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, button {
  padding: 10px;
  border-radius: 5px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #444;
}
